.App {
  box-sizing: border-box;
  /* text-align: center; */
  background-color: hsl(41, 98%, 90%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #280828;
  padding: 55px;
}

header {
  width: fit-content;
  display: flex;
  align-items: center;
	background-color: #280828;
	color: #e7e6b3;
  padding: 5px 33px;
  margin-bottom: 45px;
  border-radius: 1px;
  box-shadow:
    0 0 0 5px #383050, /* dark grey */
    0 0 0 10px #68d0b8, /* minty blue */
		0 0 0 12px #f7e8a8, /* white */
		0 0 0 15px #3d3c55; /* black */
}

img {
  height: 70px;
  width: auto;
  margin-right: 15px;
}

a {
  color: #1fb4c1;
}

.card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.card:last-child {
  margin-bottom: 0;
}

button {
  font-size: calc(2px + 1.5vmin);
  font-weight: 700;
  height: 3em;
  padding: 0 15px;
  margin-left: 25px;
  border-radius: 1px;
  box-shadow:
    0 0 0 2px #383050, /* dark grey */
    0 0 0 4px #68d0b8, /* minty blue */
    0 0 0 6px #f7e8a8, /* white */
    0 0 0 6px #3d3c55; /* black */
  background-color: hsl(59, 52%, 90%);
  color: #280828;
  transition: background-color 0.2s ease;
}

.liked {
  background-color: hsl(185, 72%, 65%);
}

.list {
  width: fit-content;
	background-color: #280828;
	color: #e7e6b3;
  padding: 25px 33px;
  border-radius: 1px;
  box-shadow:
    0 0 0 5px #383050, /* dark grey */
    0 0 0 10px #68d0b8, /* minty blue */
		0 0 0 12px #f7e8a8, /* white */
		0 0 0 15px #3d3c55; /* black */
}